@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {margin:0;padding:0;box-sizing:border-box;}

:root {
  /*
   * define all the theme colors
   * Credit: ...
   */
  --bubble-blue: #33FFFF;
  --mint-green: #66F2BF;
  --olive-green: #99E680;
  --soft-yellow: #FDF988;
  --hard-yellow: #FFCC41;
  --soft-grey: #eee;
  --hard-grey: #777;
}

html,
body {
  background-image: url('bg.png');
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bubble-blue);
  min-height: 100vh;
  height: 100%;
  line-height: 1.5rem;
  font-size: 14px;
  margin: 0;
}

body {
  padding: 1.5rem 20px;
}

a:link,
a:visited,
a {
 color: #000;
}

a:hover {
  background-color: var(--olive-green);
}

.whitebg {
  background-color: #fff;
  overflow-x:auto; 
  width: 100%;
}

#list-threads {
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

#list-threads td {
  white-space: nowrap;
}

#list-threads td {
  max-width: 20vw;
}

#list-threads th,
#list-threads td,
#list-threads .permalink {
  overflow: hidden;
  text-overflow: ellipsis;
}

#list-threads th.list-message,
#list-threads td.list-message {
  width: 100%;
}

#list-threads .tripcode {
  font-size: 0.8rem;
  display: inline;
}

#list-threads td,
#list-threads th {
  padding: 0 10px 0 0;
  line-height: 3rem;
  height: 3rem;
}

#list-threads th:first-child {
  padding-left: 10px
}

#list-threads tbody tr:nth-child(even) {
  background-color: var(--soft-grey);
}

#list-threads tbody tr:hover {
  background-color: var(--hard-yellow);
}

#list-threads .permalink {
  line-height: 1.5rem;
  width: 100%;
  display: block;
  line-height: 3rem;
  height: 3rem;
  padding-left: 10px;
}

#list-threads .permalink:hover {
  background-color: var(--soft-yellow);
}

#list-threads {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

#actions {
  padding: 0;
  line-height: 3rem;
}

#actions a {
  display: inline-block;
  height: 3rem;
}

#actions ul {
  list-style-type: none;
}

#actions li {
  display: inline-block;
  float: left;
}

#actions li:first-child {
  padding-right: 10px;
}

#actions li + li:before {
  content: '\25CD';
  color: var(--olive-green);
  font-size: 1.5rem;
  line-height: 1rem;
  padding-right: 10px;
}

#list-threads thead {
  background-color: var(--mint-green);
}

.op header {
  background-color: var(--soft-yellow);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.op .meta {
  font-size: 1rem;
}

.op .tripcode {
  font-size: 0.75rem;
  font-weight: normal;
  font-family: monospaced;
  text-transform: none;
}

.brand {
  text-align: center;
}

.brand p {
  color: var(--hard-grey);
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.brand h1 {
  line-height: 3rem;
}

.thread {
  padding: 0 20px;
}

h2,
h3 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
}

.op header h2 {
  margin: 0;
}

.brand h1 a {
  text-decoration: none;
}

.white-bg {
  background-color: #fff;
}

legend {
  font-weight: bold;
  color: var(--sienna);
}

.reply {
  display: block;
  padding: 1.5rem 40px;
  box-sizing: border-box;
  clear: left;
  margin-top: 1.5rem;
}

.meta {
  color: var(--hard-grey);
  font-size: 0.75rem;
}

.search-box {
  float: right;
}

.search-box input[type=text] {
}

.op:before {
  display: block;
  clear: both;
  content: '';
  height: 1.5rem;
  margin-top: 1.5rem;
}

.reply header,
.op header,
.reply + .op ,
.op header h2, {
  margin: 0;
  min-width: 0;
}

fieldset legend {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

fieldset {
  border: none;
}

.reply {
  white-space: break-all;
}

p + p {
  margin-top: 1.5rem;
}

header {
  word-break: break-all;
}

header p {
}

.reply h3 {
  margin: 0;
  padding:0
}

.reply:target,
sup:target,
li:target {
  background-color: var(--soft-yellow);
}

sup:target {
  border: 1px solid #ff0000;
}

.reply h3:before {
  content: '\2bb9';
  color: var(--olive-green);
  font-size: 1.5rem;
  line-height: 1rem;
  padding-right: 10px;
}

.page-footer {
  clear: both;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

fieldset,
.blotter {
  width: 100%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 0 10px;
}

.blotter {
  font-size: 0.85rem;
  line-height: 1.5rem;
  border: none;
}

.blotter ul {
  list-style-position: inside;
}

label {
  clear: both;
  width: 100%;
  display: block;
  font-weight: bold;
}

label input[type=text],
label textarea {
  float: right;
  width: 75%;
}


input[type=text] {
  height: 3rem;
  background-color: var(--soft-grey);
  border: none;
  line-height: 3rem;
  padding-left: 10px;
  padding-right: 10px;
}

textarea,
input[type=text] {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  background-color: var(--soft-grey);
  border: none;
  height: 6rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px dashed var(--hard-grey);
}

input[type=submit] {
  -webkit-appearance: none;
  height: 3rem;
  line-height: 3rem;
  margin: 1.5rem 0 0 0;
  background-color: var(--bubble-blue);
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px;
}

input[type=submit]:hover {
  text-decoration: underline;
  background-color: var(--olive-green);
}

fieldset input[type=submit] {
  width: 100%;
}

.errors {
  margin: 1.5rem 0 1.5rem 20px;
  list-style-position: inside;
  list-style-type: none;
}

.errors li:before {
  content: '\2642';
  color: var(--olive);
  font-size: 1.5rem;
  line-height: 1rem;
  padding-right: 10px;
}

.error-title {
  color: var(--olive);
}

.tripcode,
.tripcode:link,
.tripcode:visited {
  color: var(--hard-grey);
}

.search-input,
.search-submit {
  float: left;
  display: block;
  margin: 0 !important;
  height: 3rem;
  line-height: 3rem;
}

.search-input {
  border: none;
  line-height: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0 10px;
  background-color: var(--soft-grey);
}

td.list-bump {
  font-size: 0.85rem;
}


td.list-author {
  text-align: left;
}

th.message {
  padding-left: 10px; 
}

th.replies {
  padding-right: 10px;
}

@media screen and (max-width: 600px)
{
  html,
  body {
    font-size: 12px;
    padding: 0;
  }

  #list-threads {
    font-size: 0.90rem;
  }

  #list-threads th {
    font-weight: normal;
  }

  #list-threads td,
  #list-threads th {
    padding: 0;
  }
}
