@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {margin:0;padding:0;box-sizing:border-box;}

:root {
  /*
   * define all the theme colors
   * Credit: ...
   */
  --bubble-blue: #33FFFF;
  --mint-green: #66F2BF;
  --olive-green: #99E680;
  --soft-yellow: #FDF988;
  --hard-yellow: #FFCC41;
  --soft-grey: #eee;
  --hard-grey: #777;
}

html,
body {
  background-image: url('bg.png');
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bubble-blue);
  min-height: 100vh;
  height: 100%;
  line-height: 1.5rem;
  font-size: 14px;
  margin: 0;
}

.g-recaptcha {
  clear: both;
  text-align: center;
  padding-top: 1.5rem;
}

.do-not-bump {
  /* idk what to do with it rn */
}

.tripcode-emoji {
  background-color: #fff;
}

time a,
time a:link,
time a:visited {
  color: var(--hard-grey);
}

ol ol,
ul ul {
  margin: 0!important;
  margin-left: 20px!important;
}

dl {
  margin: 1.5rem 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

.op h1,
.page h1 {
  font-size: 1.5rem;
}

.reply h1 {
  font-size: 1.4rem;
}

.reply header {
  margin-bottom: 1.5rem;
}

.reply .meta {
  font-size: 0.9rem;
  color: #000;
}

.reply h2,
.op h2 {
  font-size: 1.25rem;
}

.reply h3,
.op h3 {
  text-transform: uppercase;
  font-size: 1.23rem;
  margin-top: 2.20rem;
  font-size: 1.20rem;
}

.op h4,
.reply h4 {
  margin: 1.5rem 0;
  font-size: 1.14rem;
}

.reply h5,
.op h5 {
  font-size: 1rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.op h6,
.reply h6 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
}

body {
  padding: 1.5rem 20px;
}

a:link,
a:visited,
a {
 color: #000;
}

a:hover {
  background-color: var(--soft-yellow);
}

.whitebg {
  background-color: #fff;
  overflow-x:auto; 
  width: 100%;
}

#list-threads {
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.list-thread {
  min-height: 3rem;
  padding: 0.75rem 20px;
  box-sizing: content-box;
}

.list-thread h1 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0;
  height: 1.5rem;
  width: 100%;
  display: block;
}

.list-thread h1 a  {
  width: 100%;
  height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.list-thread .meta .list-thread-last-reply {
  max-width: 60rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  overflow: hidden;
  display: inline-block;
  color: var(--hard-grey);
  font-size: 0.8rem;
  vertical-align: top;
}

.list-thread-last-reply .tripcode {
  opacity: 0.8;
}

.list-thread .meta {
  margin: 0;
}

.list-thread .meta .tripcode:first-child {
}

#list-threads th.list-replies {
  padding-right: 10px;
}

#list-threads td {
  white-space: nowrap;
}

#list-threads td {
  max-width: 20vw;
}

#list-threads th.list-message,
#list-threads td.list-message {
  width: 100%;
}

#list-threads .tripcode {
  display: inline;
}

#list-threads td,
#list-threads th {
  padding: 0 10px 0 0;
  line-height: 3rem;
  height: 3rem;
}

#list-threads th:first-child {
  padding-left: 10px
}

.list-thread:nth-child(even) {
  background-color: var(--soft-grey);
}

#list-threads tbody tr:hover {
  background-color: var(--hard-yellow);
}

#list-threads .permalink {
  width: 100%;
  display: block;
  line-height: 3rem;
  height: 3rem;
  padding-left: 10px;
}

#list-threads {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

#actions {
  display: block;
  height: 3rem;
  width: 100%;
  padding: 0;
  line-height: 3rem;
}

#actions a {
  display: inline-block;
  height: 3rem;
}

#actions ul {
  list-style-type: none;
  display: block;
  box-sizing: border-box;
  float: left;
  width: 66.66%;
}

#actions li {
  display: inline-block;
  float: left;
}

pre {
  overflow-x: scroll;
  background-color: var(--soft-grey);
  display: block;
  padding: 0.75rem 10px;
  margin: 0.75rem 10px;
}

#actions li + li {
  padding-left: 10px;
}

#list-threads thead {
  background-color: var(--mint-green);
}

.page header,
.op header {
  background-color: var(--soft-yellow);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.op .meta {
  font-size: 1rem;
}

.tripcode {
  font-weight: normal;
  text-transform: none;
}

.tripcode-verified:before {
  content: "\2713 "; 
  background-color: #00cc00;
  color: #fff;
  font-weight: bold;
}


.reflink-invalid {
  text-decoration: line-through;
}

.brand {
  text-align: center;
}

.brand-image {
  vertical-align: top;
  height: 2.8rem;
  display: inline-block;
  width: auto;
}

.brand p {
  color: var(--hard-grey);
  font-style: italic;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.tripcode {
  font-family: 'Roboto Mono', monospace;
}

.page h1 span.tripcode {
  text-transform: none;
}

.brand h1 {
  line-height: 3rem;
}

.thread {
  padding: 0 20px;
}

article h1,
h2,
h3 {
  margin-bottom: 0.75rem;
  margin-top: 2.25rem;
}


.page header h1,
.op header h1 {
  margin: 0;
}

.brand h1 a {
  text-decoration: none;
}

.white-bg {
  background-color: #fff;
}

legend {
  font-weight: bold;
  color: var(--sienna);
}

.reply {
  display: block;
  padding: 1.5rem 40px;
  box-sizing: border-box;
  clear: left;
  margin-top: 1.5rem;
}

.meta {
  color: var(--hard-grey);
}

.search-box {
  box-sizing: border-box;
  width: 33.33%;
  float: right;
  display: block;
}

.page:before,
.op:before {
  display: block;
  clear: both;
  content: '';
  height: 1.5rem;
  margin-top: 1.5rem;
}

.reply header,
.op header,
.reply + .op ,
.op header h1, {
  margin: 0;
  min-width: 0;
}

fieldset legend {
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

fieldset {
  border: none;
}

.reply {
  white-space: break-all;
}

p + p {
  margin-top: 1.5rem;
}

header {
  word-break: break-all;
}

header p {
}

.reply h1 {
  margin: 0;
  padding:0
}

.reply:target,
sup:target,
li:target {
  background-color: var(--soft-yellow);
}

sup:target {
  border: 1px solid #ff0000;
}

.reply h1:before {
  content: '\21aa';
  color: var(--mint-green);
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-right: 10px;
  margin-left: -30px;
  position: absolute;
}

.page-footer {
  clear: both;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}

fieldset,
.blotter {
  width: 100%;
  margin: 1.5rem auto 1.5rem auto;
  padding: 0 10px;
}

.blotter {
  font-size: 0.85rem;
  line-height: 1.5rem;
  border: none;
}

.blotter ul {
  list-style-position: inside;
}

label {
  clear: both;
  width: 100%;
  display: block;
  font-weight: bold;
}

label input[type=text],
label textarea {
  float: right;
  width: 75%;
}


input[type=text] {
  height: 3rem;
  background-color: var(--soft-grey);
  border: none;
  line-height: 3rem;
  padding-left: 10px;
  padding-right: 10px;
}

textarea,
input[type=text] {
  font-family: 'Open Sans', sans-serif;
}

.op ul,
.op ol,
.page ul,
.page ol,
.reply ul,
.reply ol {
  list-style-type: inside;
  margin: 1.5rem 40px;
}

.markdown-container {

}

blockquote {
  margin: 1.5rem 0 1.5rem 3rem;
  font-style: italic;
  font-size: 0.9rem;
  display: inline-block;
}

blockquote:before {
  color: var(--hard-grey);
  content: '\201C';
  font-size: 3rem;
  display: block;
  max-width: 2rem;
  float: left;
  margin-left: -2rem;

  font-family: serif;

  font-size: 4em;
}

code {
  background-color: var(--soft-grey);
}

textarea {
  background-color: var(--soft-grey);
  border: none;
  height: 6rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 1px dashed var(--hard-grey);
}

input[type=submit] {
  -webkit-appearance: none;
  height: 3rem;
  line-height: 3rem;
  margin: 1.5rem 0 0 0;
  background-color: var(--bubble-blue);
  border: none;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px;
}

input[type=submit]:hover {
  text-decoration: underline;
  background-color: var(--soft-yellow);
}

fieldset input[type=submit] {
  width: 100%;
}

.errors {
  margin: 1.5rem 0 1.5rem 20px;
  list-style-position: inside;
  list-style-type: none;
}

.errors li:before {
  content: '\2642';
  color: var(--olive);
  font-size: 1.5rem;
  line-height: 1rem;
  padding-right: 10px;
}

.error-title {
  color: var(--olive);
}

.tripcode,
.tripcode:link,
.tripcode:visited {
}

.search-submit {
  width: 33.33%;
}

.search-input,
.search-submit {
  box-sizing: border-box;
  float: left;
  display: block;
  margin: 0 !important;
  height: 3rem;
  line-height: 3rem;
}

.search-input {
  border: none;
  line-height: 1.5rem;
  height: 1.5rem;
  border: none;
  width: 66.66%;
  padding: 0 10px;
  background-color: var(--soft-grey);
}

td.list-bump,
td.list-last {
  font-size: 0.85rem;
}


td.list-author {
  text-align: left;
}

th.message {
  padding-left: 10px; 
}

th.replies {
  padding-right: 10px;
}

#list-threads td,
#list-threads th {
  line-height: 1.5rem;
}

.stdpadding {
  padding: 0 20px 1.5rem 20px;
}

.pagination {
  padding: 3rem 20px 1.5rem;
  text-align: center;
}

.pagination ol {
  list-style-type: none;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  padding: 0 10px;
  background-color: var(--soft-grey);
}

.pagination .current-page a {
  background-color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 700px)
{
  html,
  body {
    font-size: 11px;
    padding: 0;
  }

  #actions {
  }

  #actions li + li:before {
    padding: 5;
  }

  #actions .search-box,
  #actions ul {
    width: 100%;
  }

  #list-threads {
    font-size: 0.90rem;
  }

  #list-thread th.list-message,
  #list-thread td.list-message {
    width: 100%!important;
  }

  #list-threads th {
    font-weight: normal;
  }

  #list-threads td,
  #list-threads th {
    padding: 0;
  }

  #list-threads td.list-bump,
  #list-threads td.list-last {
    font-size: 0.75rem;
  }


  .list-thread .meta .list-thread-last-reply {
    max-width: 15rem !important;
  }
}
