{% macro recaptcha() -%}
{% if recaptcha_enabled %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
<noscript>
  <div class="g-recaptcha">
    <div style="width: 302px; height: 422px; position: relative;">
      <div style="width: 302px; height: 422px; position: absolute;">
        <iframe src="https://www.google.com/recaptcha/api/fallback?k={{ recaptcha_site_key }}"
                frameborder="0" scrolling="no"
                style="width: 302px; height:422px; border-style: none;">
        </iframe>
      </div>
    </div>
    <div style="width: 300px; height: 60px; border-style: none;
                   bottom: 12px; left: 25px; margin: 0px; padding: 0px; right: 25px;
                   background: #f9f9f9; border: 1px solid #c1c1c1; border-radius: 3px;">
      <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                   class="g-recaptcha-response"
                   style="width: 250px; height: 40px; border: 1px solid #c1c1c1;
                          margin: 10px 25px; padding: 0px; resize: none;" >
      </textarea>
    </div>
  </div>
</noscript>
{% endif %}
{%- endmacro %}
{% macro thread_permalink_summary(post) -%}
    <a href="/threads/{% if post.reply_to %}{{ post.reply_to }}#{% endif %}{{ post.id }}" class="permalink">#{{ post.id }}: {{ truncate(post.headline if post.headline else post.message) | striptags }}</a>
{%- endmacro %}
{% macro post_name(post) -%}
    {% if post.tripcode %}<a href="/trip-meta/{{ post.tripcode }}" title="{{ post.tripcode }}" class="tripcode{% if post.verified %} tripcode-verified{% endif %}" style="background-color: {{ color_hash(post.tripcode).hex }}; color: #{{ complementary_color(color_hash(post.tripcode).hex) }}">{{ post.name }}<span class="tripcode-emoji">{{ hash_to_emoji(post.tripcode, no_flags=True) }}</span></a>{% elif post.name %}{{ post.name }}{% else %}Anonymous{% endif %}
{%- endmacro %}
{% macro post_name_summarized(post) -%}
    {% if post.tripcode %}<a href="/trip-meta/{{ post.tripcode }}" title="{{ post.tripcode }}" class="tripcode{% if post.verified %} tripcode-verified{% endif %}" style="background-color: {{ color_hash(post.tripcode).hex }}; color: #{{ complementary_color(color_hash(post.tripcode).hex) }}">{{ post.name }}<span class="tripcode-emoji">{{ hash_to_emoji(post.tripcode, no_flags=True) }}</span></a>{% elif post.name %}{{ post.name }}{% else %}Anonymous{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - {{ config_db('site_title') }}</title>
  <link rel="stylesheet" type="text/css" href="{% if get_stylesheet() %}{{ get_stylesheet() }}{% else %}/static/style.css{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
</head>
<body>

<header class="brand">
  <h1><a href="/">{{ config_db('site_title') }}</a></h1>
  <p>{{ config_db('site_tagline') | safe }}</p>
  <div class="blotter">
    <ul>
    {% for entry in get_blotter_entries() %}
      <li>{{ entry.timestamp }}: {{ entry.text }}</li>
    {% endfor %}
    </ul>
  </div>
</header>

<nav id="actions">
  <ul>
    <li><a href="/threads/new">Create thread</a></li>
    <li><a href="/">All threads</a></li>
    <li><a href="/cookie">Cookie</a></li>
    {% for page in get_pages() %}
    <li><a href="/pages/{{ page.slug }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>
  <form class="search-box" action="/" method="GET" enctype="application/x-www-form-urlencoded">
    <input type="text" id="search" name="search" class="search-input"
           placeholder="search threads and replies" tabindex=1>
    <input type="submit" value="search 🔍" tabindex=2 class="search-submit">
  </form>
</nav>

<div class="whitebg">

  {% block content %}

  {% endblock %}

</div>
<footer class="page-footer">{{ config_db('site_footer') | safe }}</footer>
</body>
</html>
