{% macro thread_permalink_summary(post) -%}
    <a href="/threads/{% if post.reply_to %}{{ post.reply_to }}#{% endif %}{{ post.id }}" class="permalink">#{{ post.id }}: {{ post.message[:140] | striptags }}</a>
{%- endmacro %}
{% macro post_name(post) -%}
    {% if post.name %}{{ post.name }}{% if post.tripcode %}<a href="/trip-meta/{{ post.tripcode }}" class="tripcode">#{{ post.tripcode }}</a>{% endif %}{% else %}Anonymous{% endif %}
{%- endmacro %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - {{ config_db('site_title') }}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
</head>
<body>

<header class="brand">
  <h1><a href="/">{{ config_db('site_title') }}</a></h1>
  <p>{{ config_db('site_tagline') | safe }}</p>
  <div class="blotter">
    <ul>
    {% for entry in blotter_entries %}
      <li>{{ entry.timestamp }}: {{ entry.text }}</li>
    {% endfor %}
    </ul>
  </div>
</header>

<nav id="actions">
  <ul>
    <li><a href="/threads/new">Create thread</a></li>
    <li><a href="/">All threads</a></li>
  </ul>
  <form class="search-box" action="/" method="GET" enctype="application/x-www-form-urlencoded">
    <input type="text" id="search" name="search" class="search-input"
           placeholder="search threads and replies" tabindex=1>
    <input type="submit" value="search 🔍" tabindex=2 class="search-submit">
  </form>
</nav>

<div class="whitebg">

  {% block content %}

  {% endblock %}

</div>
<footer class="page-footer">{{ config_db('site_footer') | safe }}</footer>
</body>
</html>
