{% extends "base.html" %}
{% block title %}Latest Bumps{% endblock %}

{% block content %}
<table id="list-threads">
    <thead>
        <tr>
            <th class="list-message">Message</th>
            <th class="list-author">Author</th>
            <th class="list-bump">Bumptime</th>
            <th class="list-last">Last Reply</th>
            <th class="list-replies">Replies</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td class="list-message">{{ thread_permalink_summary(post) }}</td>
            <td class="list-author">{{ post_name(post) }}</td>
            <td class="list-bump">{{ since_bumptime(post.bumptime) | safe }}</td>
            <td class="list-last">{% if post.last_reply %}<a href="/threads/{{ post.last_reply.reply_to}}#{{ post.last_reply.id }}">#{{ post.last_reply.id }}</a> by {{ post_name_summarized(post.last_reply) }}{%endif %}</td>
            <td class="list-replies">{{ post.reply_count }}{% if post.locked %}🔒{% endif %}{% if post.permasage %}🌿{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
