{% extends "base.html" %}
{% block title %}Latest Bumps{% endblock %}

{% block content %}
<div class="list-threads">
        {% for post in posts %}
        <article class="list-thread">
            <h1>{{ thread_permalink_summary(post) }}</h1>
            <p class="meta">
                By {{ post_name(post) }} &middot;
                ⬆ {{ since_bumptime(post.bumptime) | safe }} &middot;
                ↪️ {{ post.reply_count }}{% if post.last_reply %}, <a class="list-thread-last-reply" href="/threads/{{ post.last_reply.reply_to}}#{{ post.last_reply.id }}">#{{ post.last_reply.id }}{% if post.last_reply.headline %}&mdash;{{ truncate(post.last_reply.headline, 40) | striptags }}{% endif %}</a>{%endif %}
                {% if post.locked %} &middot; 🔒{% endif %}{% if post.permasage %} &middot; 🌿{% endif %}
            </p>
        </article>
        {% endfor %}
</div>
{% endblock %}
