{% extends "base.html" %}
{% block title %}{% if post.headline %}{{ truncate(post.headline, 60) }} {% endif %}Thread #{{ post.id }}{% endblock %}

{% block content %}

<div class="thread">
    <article>
        <section class="op">
            <header>
                <h1>{% if post.headline %}{{ truncate(post.headline, 60) | safe }}&mdash;{% endif %}#{{ post.id }}{% if post.locked %}🔒{% endif %}{% if post.permasage %}🌿{% endif %}</h1>
                <p class="meta">
                    By {{ post_name(post) }}
                    {{ since_bumptime(post.timestamp, post.id) | safe }}
                </p>
            </header>
            <div class="message">{{ post.message | safe }}</div>
        </section>

      <section class="replies">
      {% for reply in replies %}
          <article class="reply" id="{{ reply.id }}">
            <header>
                <h1>#{{ reply.id }}{% if reply.headline %}: {{ truncate(reply.headline, 60) | safe }}{% endif %}</h1>
                <p class="meta">By {{ post_name(reply) }} {{ since_bumptime(reply.timestamp, post.id, reply.id) | safe }}</p>
            </header>
            <div class="message">{{ reply.message | safe }}</div>
          </article>
      {% endfor %}
      </section>

    <form action="/replies/new" method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>Create reply</legend>
        {{ form.csrf_token() }}
        <label>Name: {{ form.name }}</label>
        <label>Message: {{ form.message }}</label>
        {{ form.reply_to(value=post.id) }}
        <div>
        <label class="do-not-bump">Do not bump {{ form.sage }}</label>
        {{ recaptcha() }}
        <input type="submit" value="Reply ↪️">
        </div>
      </fieldset>
    </form>
</div>
{% endblock %}
