{% extends "base.html" %}
{% block title %}Thread #{{ post.id }}{% endblock %}

{% block content %}

<div class="thread">
    <article>
        <section class="op">
            <header>
                <h1>Thread #{{ post.id }} by {{ post_name(post) }}{% if post.locked %}🔒{% endif %}</h1>
                <p class="meta">{{ since_bumptime(post.bumptime) | safe }} ago</p>
            </header>
            <div class="message">{{ post.message | word_filter | safe }}</div>
        </section>

      <section class="replies">
      {% for reply in replies %}
          <article class="reply" id="{{ reply.id }}">
            <header>
                <h1>Reply #{{ reply.id }} by {{ post_name(reply) }}</h1>
                <p class="meta">{{ since_bumptime(reply.timestamp) | safe }} ago</p>
            </header>
            <div class="message">{{ reply.message | word_filter | safe }}</div>
          </article>
      {% endfor %}
      </section>

    <form action="/replies/new" method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>Create reply</legend>
        {{ form.csrf_token() }}
        <label>Name: {{ form.name }}</label>
        <label>Message: {{ form.message }}</label>
        {{ form.reply_to(value=post.id) }}
        <div>
        <label class="do-not-bump">Do not bump {{ form.sage }}</label>
        <input type="submit" value="Post!">
        </div>
      </fieldset>
    </form>
</div>
{% endblock %}
