{% extends "base.html" %}
{% block title %}{{ trip_meta.tripcode }} (Trip Meta){% endblock %}

{% block content %}

<article class="stdpadding page">
    <header>
        <h1>Trip Meta for
    <a href="/trip-meta/{{ trip_meta.tripcode }}" title="{{ trip_meta.tripcode }}" class="tripcode" style="background-color: {{ color_hash(trip_meta.tripcode).hex }}; color: #{{ complementary_color(color_hash(trip_meta.tripcode).hex) }}"><img src="/static/identicons/{{ trip_meta.tripcode }}.png" alt="identicon" class="identicon">{{ trip_meta.tripcode }}<span class="tripcode-emoji">{{ hash_to_emoji(trip_meta.tripcode, no_flags=True) }}</span></a>
</h1>
        <p>{{ trip_meta.post_count }} posts | <a href="/trip-meta/{{ trip_meta.tripcode }}/edit">Edit info</a></p>
    </header>
    {{ trip_meta.bio | safe }}
</article>

<table id="list-threads">
    <thead>
        <tr>
            <th class="list-message">Message</th>
            <th class="list-author">Author</th>
            <th class="list-bump">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td class="list-message">{{ thread_permalink_summary(post) }}</td>
            <td class="list-author">{{ post_name(post) }}</td>
            <td class="list-bump">{{ since_bumptime(post.timestamp) | safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
